* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Verdana', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Helvetica', Arial, sans-serif;
}

input[type="text"], input[type="password"] {
    margin: 10px 5px;
    padding: 5px;
}

body {
    width: 800px;
    margin: 0 auto;
    text-align: justify;
}

fieldset {
    padding: 15px;
}

fieldset legend {
    padding: 10px;
    font-weight: bold;
}

button {
    padding: 10px;
}

main {
    margin: 20px 0;
}

#siteTitle {
    font-size: 18pt;
    margin: 15px 0;
}

#loginErrorMessage, #signupErrorMessage {
    color: red;
    font-size: 0.7em;
}

#loginOkMessage, #signupOkMessage {
    color: green;
    font-size: 0.7em;
}

#mainAside {
    margin: 20px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

#signupFieldFormatHint {
    font-size: 0.7em;
    color: #0000AA;
}

.pathologyHeader {
    border-bottom: 1px solid black;
}

.pathology {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

.pathologyDescription {
    font-weight: bold;
    margin-right: 15px;
    flex: 2 1;
}

.pathologyMeridian {
    font-style: italic;
    margin-right: 15px;
    flex: 1 1;
}

.pathologyType {
    flex: 1 1;
}